* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input, button {
  border: none;
  outline: none;
}

.text-input { /*去除input默认样式*/
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.text-input:focus { /*输入框样式*/
  border-bottom: 1px solid #25b7ff;
  border-radius: 2px;
}

.button {
  background-color: #25b7ff;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: white;
  text-align: center;
}